
:root {
    --aspect-ratio: 0.7727272727272727;
    --accent-color: #02228B;
}


.z-2-back {
    z-index: -2;
    position: absolute;
}


.cv {
    width: 100%;
    aspect-ratio: var(--aspect-ratio);
}


.cv h1.huge {
    font-size: 3em;
}


.cv hr {
    margin: 15px 0;
}
.skill hr {
    margin: 10px 0;
}


.interests ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    line-height: 1.1;
}


#rxp .cv_right>ul {
    margin-left: 15px !important;
    margin-bottom: 5px !important;
}


div.cv_right div#item {
    margin-left: 10px;
}


div.items {
    outline: 0.5px solid var(--haiiro);
    color: var(--accent-color);
    font-family: var(--code);
    font-size: 0.8em;
    padding: 2px 5px;
    display: inline-block;
}


#pub,
#rxp {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    page-break-inside: avoid;
    break-inside: avoid;
}


#pub { line-height: 1.1; }
#rxp { line-height: 1.2; }


.rtl-section { direction: rtl; }
.rtl-section>* { direction: ltr; }


#date {
    right: 0;
    position: relative;
}


.cv_left {
    text-align: right;
    flex: 0 1 6%;
    border-right: 1px solid black;
    padding: 2px 10px 10px 0;
    margin: 0 2px 5px 0;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cv_right {
    text-align: left;
    flex: 1 0 94%;
    margin-left: 2px;
}


.cv_right_two {
    text-align: right;
    flex: 0 1 20%;
    margin-right: 2px;
}
.cv_left_two {
    text-align: left;
    flex: 1 0 80%;
    margin-left: 2px;
}


#skill {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    page-break-inside: avoid;
    break-inside: avoid;
    line-height: 1.0;
    padding: 0;
}


.skill_title {
    text-align: right;
    flex: 0 0 8%;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 2px;
    font-weight: 700;
}


.skill_list {
    text-align: left;
    flex: 1 1 92%;
    margin-left: 2px;
    display: inline;
}


.skill_list span {
    margin: 0 5px;
    display: inline;
}


.pub_auth {
    font-weight: 700;
    font-variant: small-caps;
}
.pub_title,
.pub_title a,
.pub_journal {
    color: var(--accent-color);
    font: var(--kotoba);
}




.poster-section {
    page-break-after: auto !important;
}
.poster-section h1,
.poster-section h2,
.poster-section h3 {
    margin-bottom: 0;
}


.avoid-break { page-break-inside: avoid; }


.poster-section h1 {
    font-family: 'Comfortaa';
    font-size: 1.5em;
}
.poster-section h2 {
    font-size: 1.15em;
    font-variant-ligatures: none;
}


#rxp h2 {
    margin: 0 0 5px 5px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#rxp-title h1 {
    margin-top: -30px;
    text-align: right;
    border-bottom: 1px solid black;
}


/* #rxp span.emph2 {
    color: var(--accent-color);
} */


/* .poster-section h3 {
    font-family: 'Aron Grotesque', 'TBUD Gothic R', 'Yuji Boku';
    font-size: 1.0em;
    font-variant-ligatures: none;
} */


.edu { flex-direction: column !important; }


.GPA::before { content: "GPA: "; }


.dash_aft::after { content: " - "; }


.accent {
    color: var(--accent-color);
    font-weight: 700;
}


.flex-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.link-section>* {
    margin: 0 2px;
}


.link-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    left: 17.5%;
    position: relative;
}


.flex-col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.flex-row-nw {
    display: block;
    width: 100%;
}


.ltab { margin-left: 10px; }


.right {
    text-align: right;
    float: right;
    margin-left: auto;
    margin-right: 2px;
}


.hon-section ul li { width: 100%; }


#resume,
.profile {
    display: none;
}
