@media (max-aspect-ratio: 16/9) {
    .layer {
        max-height: 100%;
        height: 100%;
        width: auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    .layer {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

.layer {
    object-fit: cover;
}

.container {
    object-fit: contain;
}


/* CENTER LAYERS HAVE BAD TOPS (to be expected)*/


/* - for this reason only use grids to stack center layers*/


/* transform will convert blurring to blackscreen*/

.layer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aps {
    position: absolute;
}

.sc-art {
    top: 20%;
    left: 25%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    z-index: 1;
    position: absolute;
}

.sc-widget {
    z-index: 2;
    opacity: 0.1;
}

.bkgd-music {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.hidden {
    visibility: hidden;
}