::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    margin-top: 0vh !important;
    background-color: #000;
    background-image: url(../../img/musicL3.png);
    background-blend-mode: hard-light;
}

::-webkit-scrollbar-track:hover {
    width: 10px;
    background-color: #000;
    background-image: url(../../img/musicL3.png);
    background-blend-mode: overlay;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #fff !important;
    background-image: url(../../img/musicL3.png);
    background-blend-mode: normal !important;
    background-size: cover !important;
    background-attachment: absolute !important;
    background-position: center !important;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-color: #000 !important;
    background-image: url(../../img/musicL3.png);
    background-blend-mode: hard-light !important;
    /* background-size: cover !important;*/
    background-attachment: absolute !important;
    background-position: 70% 25%!important;
    border-left-color: #000;
    border-left-width: 4px;
    border-left-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
}