.main-a{
   display: block;
}

div.main-music {
   display: none;
}

#btnControl {
    display: none;
}

.dropdown-b-content{
	visibility: hidden;
}

.dropdown-b:hover .dropdown-b-content{
	visibility: visible;
}

.main-music-light{
    display: block;
}

.dark .main-music-light{
    display: none;
}

.main-music-dark{
    display: none;
}

.dark .main-music-dark{
    display: block;
}

.secret{
    display: none;
}

a.a2{
color:inherit;
}